 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #0F131A;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
    text-align: center;
}
img {
    border-radius: 8px
}

span {
    font-weight: 600;
}

.navbar {
    display: flex;
    background-color: rgba(246, 245, 244);
    width: 100%;
    height: auto;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav ul li {
    padding: 8px;
}

nav ul a:hover {
    color: #FF6C3F;
}

.link-nav {
    position: relative;
}

.link-nav:hover, .link-nav.active {
    color: #FF6C3F;
}

nav .logo {
    width: 50px;
}

.navbar-toggler{
    border: none;
}

button.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-item .active {
    color: #FF6C3F;
}

.navbar-buttons{
    display: flex;
    flex-direction: row-reverse;
}

.button {
    border-radius: 25.899px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg_orange{
    background: rgb(255, 108, 64);
}

.bg_orange:hover {
    background-color: rgb(255, 108, 63, 0.5);
    outline: 1px solid #FF6C3F;
    color: #FF6C3F;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #F6F5F4;
}
main {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    color: black;
    background-color: #F6F5F4;
    text-align: center;
    margin: 10px 10px;
}
.title{
    width: 100%;
    height: 300px;
    color: white;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../images/perro_exterior_1.jpg);
    background-size: cover;
    background-position: center;
    padding: 32px;
    display: flex;
    align-items: flex-end;
    color: #F6F5F4;
}
h2{
    background-color: #ffffffb7;
    text-align: center;
    margin: 10px 10px;
}
.requirements{
    background-color: #F6F5F4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    text-align:start;
    margin: 10px 10px;
}
.tips{
    padding: 16px;
    border-radius: 8px;
    background: #F6F5F4;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 8px;
}
h2{
    margin: 20px;
}
.ilustration2{
    box-sizing: border-box;
    width: 60vw;
}
img{
    width: 100%;
}
.article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card{
    width: 320px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}
.card img{
    width: 100%;
    height: auto;

}
.banner {
    width: 100%;
    padding: 24px;
    background-color: #D9D9D9;
    text-align: center;
}

.banner a {
    font-weight: 700;
}

.banner a:hover {
    color: #FF6C3F;
    transform: scale(1.1);
}

footer {
    background: #C0BEAF;
    display: flex;
    width: 100%;
    padding: 24px;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .logo {
    width: 100px;
}

.footer-column {
    text-align: center;
    padding: 16px;
    font-weight: 600;
}


.links-utilidad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.copyright {
    margin-top: 16px;
    text-align: center;
}

@media (min-width: 768px) {
    nav ul {
        gap: 24px;
    }

    nav .logo {
        width: 80px;
    }

    .link-nav:hover::before,
    .link-nav .active::before {
        width: 100%;
        visibility: visible;
    }

    .link-nav::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #FF6C3F;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .adoption h2{
        font-size: 30px;

    }
    .adoption p{
        font-size: 25px;
    }
    .requirements{
        font-size: 20px;
        text-align: center;
    }
    .article{
        display: flex;
        flex-direction: row;
        text-align: center;
        font-size: 25px ;
    }
    .ilustration2 img {
        width: 30%;
        float: left;
    }
 
    .footer-content {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .footer-column {
        text-align: left;
}

}