* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #F6F5F4;
}

main {
    margin: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #0F131A;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
    text-align: center;
}

h2 {
    margin: 16px 0px;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 8px
}

span {
    font-weight: 600;
}

nav {
    width: 100%;
    height: auto;
    padding: 4px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(246, 245, 244);
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex center;
    align-content: center;
    text-align: center;
    gap: 4px;


}

nav ul a:hover {
    color: #FF6C3F;
}

nav .logo {
    width: 50px;
}

.button {
    border-radius: 25.899px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg_orange{
    background: rgb(255, 108, 64);
}

.bg_orange:hover {
    background-color: rgb(255, 108, 63, 0.5);
    outline: 1px solid #FF6C3F;
    color: #FF6C3F;
}

.hero-cuidado-animal {
    width: 100%;
    height: 300px;
    color: white;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(../images/perro_gato_4.jpg);
    background-size: cover;
    background-position: center;
    padding: 32px;
    display: flex;
    align-items: flex-end;
    color: #F6F5F4;
}

.castración {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    align-items: center;
}


.castración p {
    padding: 8px 0px;
}

.contenedor {
    padding: 16px;
    border-radius: 8px;
    background: #EAEAE9;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 8px;
}

.listaRequisitos li{
    padding: 1rem 0;
}

.articulo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
}

footer {
    background: #C0BEAF;
    display: flex;
    width: 100%;
    padding: 24px;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .logo {
    width: 100px;
}

.footer-column {
    text-align: center;
    padding: 16px;
    font-weight: 600;
}


.links-utilidad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.copyright {
    margin-top: 16px;
    text-align: center;
}

/* Estilos tablet horizontal y escritorio */

@media (min-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
    }

    nav .logo {
        width: 80px;
    }

    .seccion-datos {
        flex-direction: row;
    }

    .contenedor {
        flex-direction: row;
    }


    .footer-content {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .footer-column {
        text-align: left;
    }
}

@media screen and (min-width: 992px){

}



@media screen and (min-width: 1200px){

}